/* body {
    margin: 30px !important;
} */

.search-filters {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.flex-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.tile {
    border: 1px solid #f5f5ff;
    margin: 30px;
    padding: 20px;
}

.favorite {
    align-self: flex-end;
}

.search-results-child {
    margin-top: 40px;
}

button.insertItem {
    margin-top: 40px;
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    font-weight: bold !important;
    transition: box-shadow .4s ease;
}

button.searchSubmit {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    font-weight: bold !important;
    transition: box-shadow .4s ease;
}