body {
    margin: 30px;
}

.search-filters {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 20px;
    flex-wrap: wrap;
}

.flex-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.tile {
    border: 1px solid #f5f5f5;
    margin: 30px;
    padding: 20px;
}