/* Navbar.css */
.navbar {
    background-color: lightblue;
    padding: 10px;
}

.logo {
    margin-left: 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
}

.navbar a {
    text-decoration: none;
}